body
{
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
}
div
{
	position: fixed;
}
.drawer
{
	width: 300px;
}
.password
{
	width: 200px;
}
.keyhole
{
	width: 200px;			
}
.PhotoFrame
{
	width: 700px;
}
.window
{
	top: 250px;
	left: 250px;
	z-index: 1;
	display: none;
}
.windowText
{
	position: fixed;
	top: 300px;
	left: 300px;
	z-index: 3;
	font-size: 50px;
}
.item
{
	position: fixed;
	top: 190px;
	left: 2000px;
	z-index: 2;
}
.itemContent
{
	width: 200px;
	display: none;
}
.openDrawer
{
	position: fixed;
	z-index: 2;
}
.drawerContent
{
	position: fixed;
	top: 400px;
	left: 600px;
	z-index: 3;
}
